<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <br><br>
        <div class ="row" style="margin-left:85px; border: 1px solid blue; border-radius:65px">
            <div class="col">
                <h1 style="text-align:center; font-weight:bold; color:blue"> Here are the awesome quotes!</h1>
                <br><br>
                <div class="quote" style="margin-left:145px">
                <% for (var user of users) { %>
                    <p style="font-size: 20px; font-weight:bold">" <%= user.quote %> "</p>
                    <p style="font-size: 20px; font-weight:bold; color:blue; margin-left:225px">- <%= user.name %> at <%= new Date().toDateString() %> </p>
                    <hr>
                <%}%>
                </div>
            </div>
        </div>
    </div>
</body>
</html>